<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/cyber.jpeg" alt="">
  </div>
  <div class="headings">
    <h2>Products and Services</h2>
    <h3>By NUSK Labs</h3>
    <a href="/products" class="btn">View Products and Services</a>
  </div>
</header>


<%- include('partials/footer'); -%>
