<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/PT.jpg" alt="smoothie recipe icon">
    <h4>Penetration Testing Services</h4>
    <p>Web Application, Mobile App, iOS and Android</p>
  </li>
  <li class="recipe">
    <img src="/Comp.jpg" alt="smoothie recipe icon">
    <h4>Compliance Services</h4>
    <p>Governance, Infrastructure, and Application</p>
  </li>
  <li class="recipe">
    <img src="/vir.jpg" alt="smoothie recipe icon">
    <h4>Anti Virus and Malware Protection tools</h4>
    <p>Tools for your devices including desktops, laptops, mobile devices etc.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
